a {
font-family: Raleway;
font-weight: 400;
font-style: Regular;
font-size: 18px;
leading-trim: NONE;
line-height: 100%;
letter-spacing: 0%;

}

h1 {
  

}

h2 {
  font-family: Raleway;
font-weight: 700;
font-style: Bold;
font-size: 40px;
line-height: 100%;
letter-spacing: 0%;
text-transform: uppercase;
word-spacing:25px;
}


.header {
display: grid;
grid-template-columns: 1fr min-content 1fr;
align-items: center;
padding: 133px 50px ;
}

.header-nav {
 

}

.header-menu {
   display: flex;
   gap: 34px;
   list-style: circle;

}

.header-menu-item{

}

.menu-href {

}

.header-logo {
  justify-self: center;
  display: block;
 

}

.header-logo-img {
  width: 148px;
  height: 105px;

}

.adress {
  justify-self: end;
  max-width: 240px;
  max-height: 98px;

}

.cover {
    position: relative;
    width: 100%;
    min-height: 100vh;

    padding: 100px 90px;

    display: flex;
    flex-direction: column;
    justify-content: center;

    background-image: url("/images/cover.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    color: #FFF;
}


/* Оверлей */
.overlay {
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.45);
    z-index: 1;
}


/* Заголовок */
.cover-title {
    position: relative;
    z-index: 2;

      display: flex;
  flex-direction: column;
font-family: Raleway;
font-weight: 700;
font-style: Bold;
font-size: 100px;
leading-trim: NONE;
line-height: 114.99999999999999%;
letter-spacing: 30%;
text-transform: uppercase;
color: #FFF;
z-index: 2;

    display: flex;
    flex-direction: column;   /* <-- ГЛАВНОЕ */
}


/* Каждое слово в заголовке */
.cover-title span {
    display: block;           /* <-- делает каждое слово отдельной строкой */
}


/* Выравнивание слов */
.aligned-text {
    text-align: left;
}

.aligned-text-center {
    text-align: center;
}

.aligned-text-right {
    text-align: right;
}


/* Описание */
.description {
    margin-top: 50px;

    position: relative;
    z-index: 2;

    display: flex;
    gap: 30px;
    align-items: center;
}

.description-text {
    font-size: 22px;
    text-transform: uppercase;
}


/* Кнопка */
.description-button {
    background: transparent;
    border: 1px solid #FFF;
    color: #FFF;

    padding: 12px 32px;

    font-size: 18px;
    text-transform: uppercase;
    cursor: pointer;
}