a {
font-family: Raleway;
font-weight: 400;
font-style: Regular;
font-size: 18px;
leading-trim: NONE;
line-height: 100%;
letter-spacing: 0%;

}

h1 {
font-family: Raleway;
font-weight: 700;
font-style: Bold;
font-size: 100px;
leading-trim: NONE;
line-height: 114.99999999999999%;
letter-spacing: 30%;
text-transform: uppercase;
color: #FFF;
z-index: 2;
}

h2 {
  font-family: Raleway;
font-weight: 700;
font-style: Bold;
font-size: 40px;
line-height: 100%;
letter-spacing: 0%;
text-transform: uppercase;
}


.header {
display: grid;
grid-template-columns: 1fr min-content 1fr;
align-items: center;
padding: 133px 50px ;
}

.header-nav {
 

}

.header-menu {
   display: flex;
   gap: 34px;
   list-style: circle;

}

.header-menu-item{

}

.menu-href {

}

.header-logo {
  justify-self: center;
  display: block;
 

}

.header-logo-img {
  width: 148px;
  height: 105px;

}

.adress {
  justify-self: end;
  max-width: 240px;
  max-height: 98px;

}

.cover {
  position: relative;
   
  padding: 100px 90px; /* отступы, чтобы текст не прилипал к краям */

  display: flex;
  flex-direction: column;
  justify-content: center;

  color: white;

  background-image: url("/images/cover.jpg"); /* твой фон */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.overlay {
  position: absolute;
  inset: 0;                 /* заменяет left:0; top:0; width:100%; height:100% */
  background-color: rgba(0, 0, 0, 0.4); /* полупрозрачный слой */
  z-index: 1;
}


.description {
  position: relative;
  z-index: 2;
}